In [55]:
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPooling2D
from keras.utils import np_utils
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [56]:
df = pd.read_csv('Bank_Customers.csv')
df.drop(['RowNumber','CustomerId','Surname'], axis=1,inplace=True)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [58]:
X = df.drop(['Exited'],axis=1)
y = df['Exited']

In [59]:
le = LabelEncoder()
ohe = OneHotEncoder()
scaler = StandardScaler()

In [60]:
X['Balance']

0            0.00
1        83807.86
2       159660.80
3            0.00
4       125510.82
          ...
9995         0.00
9996     57369.61
9997         0.00
9998     75075.31
9999    130142.79
Name: Balance, Length: 10000, dtype: float64

In [61]:
X['Gender'] = le.fit_transform(X['Gender'])
X['Balance'] = scaler.fit_transform(X['Balance'].values.reshape(-1,1))
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,-1.225848,1,1,1,101348.88
1,608,Spain,0,41,1,0.117350,1,0,1,112542.58
2,502,France,0,42,8,1.333053,3,1,0,113931.57
3,699,France,0,39,1,-1.225848,2,0,0,93826.63
4,850,Spain,0,43,2,0.785728,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,-1.225848,2,1,0,96270.64
9996,516,France,1,35,10,-0.306379,1,1,1,101699.77
9997,709,France,0,36,7,-1.225848,1,0,1,42085.58
9998,772,Germany,1,42,3,-0.022608,2,1,0,92888.52
9999,792,France,0,28,4,0.859965,1,1,0,38190.78

In [62]:
X = pd.get_dummies(X, columns=['Geography'])
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,-1.225848,1,1,1,101348.88,1,0,0
1,608,0,41,1,0.117350,1,0,1,112542.58,0,0,1
2,502,0,42,8,1.333053,3,1,0,113931.57,1,0,0
3,699,0,39,1,-1.225848,2,0,0,93826.63,1,0,0
4,850,0,43,2,0.785728,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,-1.225848,2,1,0,96270.64,1,0,0
9996,516,1,35,10,-0.306379,1,1,1,101699.77,1,0,0
9997,709,0,36,7,-1.225848,1,0,1,42085.58,1,0,0
9998,772,1,42,3,-0.022608,2,1,0,92888.52,0,1,0
9999,792,0,28,4,0.859965,1,1,0,38190.78,1,0,0

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12)

In [64]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [65]:
model = Sequential()

In [66]:
model.add(Dense(units=32,activation='relu'))
model.add(Dense(units=16,activation='relu'))
model.add(Dense(units=8,activation='relu'))
model.add(Dense(units=1,activation='sigmoid'))

In [67]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [68]:
model.fit(X_train,y_train,batch_size=32,epochs=20)

Epoch 1/20
250/250 [==============================] - 1s 1ms/step - loss: 0.5186 - accuracy: 0.7659
Epoch 2/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3996 - accuracy: 0.8294
Epoch 3/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3601 - accuracy: 0.8485
Epoch 4/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3495 - accuracy: 0.8540
Epoch 5/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3431 - accuracy: 0.8589
Epoch 6/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8616
Epoch 7/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8616
Epoch 8/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8644
Epoch 9/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8646
Epoch 10/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8645
Epoch 11/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3288 - accuracy: 0.8648
Epoch 12/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3279 - accuracy: 0.8646
Epoch 13/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3255 - accuracy: 0.8658
Epoch 14/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3246 - accuracy: 0.8650
Epoch 15/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3230 - accuracy: 0.8684
Epoch 16/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3213 - accuracy: 0.8674
Epoch 17/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3216 - accuracy: 0.8676
Epoch 18/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3201 - accuracy: 0.8677
Epoch 19/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3191 - accuracy: 0.8679
Epoch 20/20
250/250 [==============================] - 0s 1ms/step - loss: 0.3181 - accuracy: 0.8683

In [70]:
X.head(2)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,-1.225848,1,1,1,101348.88,1,0,0
1,608,0,41,1,0.117350,1,0,1,112542.58,0,0,1

In [76]:
a = model.predict(sc.transform([[600,1,40,3,60000,2,1,1,50000,1,0,0]]))
if a == 1:
    print('Goodbye')

c:\Users\moaat\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

1/1 [==============================] - 0s 209ms/step
Goodbye